@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400&display=swap");

:root {
  --yellow: #fdc903;
  --white: #ffffff;
  --yellowAC: #ac8a01;
  --greyE5: #e5e5e7;
  --grey5A: #5a5a5a;
  --greyBD: #bdbdbe;
}

* {
  margin: 0;
  font-family: "Roboto";
}

header img {
  margin: 10px 20px;
  width: 40px;
  height: 40px;
}

p {
  margin-top: 10px;
  font-size: 0.9em;
  color: var(--grey5A);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-dark {
  background-color: var(--grey5A);
}

.nav {
  display: flex;
  flex-direction: row;
  /* height: 60px; */
  align-items: center;
  /* justify-content: space-between; */
}

.menu ul {
  padding: 0px;
}
.menu li {
  display: inline;
  /* padding: 20px 20px; */
}

.grow1 {
  flex-grow: 1;
}
.grow2 {
  flex-grow: 2;
}

.border-red {
  border: solid 1px red;
}

.border-yellow {
  border: solid 2px yellow;
}

.container-flex {
  display: flex;
  align-content: center;
  justify-content: center;
}

.menu {
  margin-right: 80px;
}

.menu a {
  color: var(--grey5A);
  text-decoration: none;
  padding: 22px;
}

.uppercase {
  text-transform: uppercase;
}

.menu a:hover {
  color: var(--white);
  background-color: var(--yellowAC);
  padding: 22px;
}

.cards-info {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-inline: 10px;
}

.shadow {
  box-shadow: 2px -2px 10px 1px rgba(74, 74, 74, 0.75);
  -webkit-box-shadow: 2px -2px 10px 1px rgba(74, 74, 74, 0.75);
  -moz-box-shadow: 2px -2px 10px 1px rgba(74, 74, 74, 0.75);
}

.card {
  background-color: var(--greyE5);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title span {
  font-weight: 400;
  color: var(--yellow);
  text-shadow: 1px 1px 2px var(--greyBD);
}
.title img {
  margin-right: 5px;
}
.title h1 {
  color: #5a5a5a;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.phone {
  margin-top: 30px;
}

.phone p {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white);
}

.cars-panel {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.car-img img{
  width: 100%;
}

.car-img {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
  width: 50%;
}

.car-img-title:hover {
  transition: 300ms;
  width: 100%;
}

.car-img-title {
  background-color: var(--yellow);
  color: var(--white);
  position: absolute;
  bottom: 0;
  padding: 5px;
  transition: 300ms;
  /* opacity: 0.5; */
  font-size: 1rem;
  width: 50%;
}

.fine-font {
  font-weight: 300;
}

.car-line {
  margin-top: 10px;
  width: 100%;
  /* justify-content: center; */
}

.car-container-text a:hover {
  background-color: var(--yellowAC);
}

.car-container-text a {
  padding: 10px;
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 5px;
  text-decoration: none;
}
.car-container-text p {
  margin-bottom: 20px;
}

.car-container-text {
  width: 55%;
}

footer {
  padding: 10px 30px;
  color: var(--greyE5);
  display: flex;
  flex-wrap: wrap;
}

footer div {
  margin: 10px 20px;
}

footer li {
  list-style-type: none;
}

footer h4 {
  font-weight: 400;
  list-style-type: none;
}

footer ul {
  margin-top: 10px;
  padding: 0px;
}

footer p,
a {
  color: var(--greyBD);
  text-decoration: none;
}
footer p:hover,
a:hover {
  color: var(--greyE5);
}

footer h4 i {
  margin-right: 10px;
}

footer h4 {
  font-weight: 400;
}

.newsletter input[type="text"] {
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--grey5A);
  border-radius: 2px;
}

.newsletter input[type="submit"]:hover {
  background-color: var(--yellowAC);
  border: 1px solid var(--yellowAC);
  color: var(--white);
}

.newsletter input[type="submit"] {
  padding: 8px 10px;
  background-color: var(--yellow);
  color: var(--grey5A);
  border: 1px solid var(--yellow);
  border-radius: 2px;
  cursor: pointer;
}

.icons-newsletter ul {
  display: flex;
}
.icons-newsletter ul li:hover {
  background-color: var(--yellowAC);
}
.icons-newsletter ul li {
  display: flex;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--yellow);
  list-style-type: none;
  padding: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
}

.icons-newsletter i {
  font-size: 1.3rem;
  color: var(--white);
}
